*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
*.o
*.a
main
bin/
tmp/

go.work

.vscode/
.idea/

.env

.git
.gitignore

Dockerfile
docker-compose.yml
.dockerignore

node_modules/
dist/
build/

.DS_Store
Thumbs.db
